.App {
  background-color: #A5D8C1;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-color: #A5D8C1;
}

.header {
  background-color: #309F73;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 40px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eachHouse {
  display: flex;
  justify-content: space-around;
  background-color: #DEDEDE;
  height: 200px;
  width: 650px;
  padding: 20px;
}

img{
  height: 100px;
  width: 180px;
}

houseInfo{
  display: flex;
}
